<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Stock Exchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="container">
          <div class="row">
            <div class="col-md-2">
              <label for="years">Year:</label>
              <select name="year" id="year" > 
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
              </select>        
            </div>
            <div class="col-md-4">
              <label for="StockIndexes">Stocks</label>
                <select name="stock" id="stock"> 
                  <option value="NYA">New York Stock Exchange</option>
                  <option value="IXIC">NASDAQ</option>
                  <option value="HSI">Hong Kong Stock Exchange</option>
                  <option value="000001.SS">Shanghai Stock Exchange</option>
                  <option value="GSPTSE">Toronto Stock Exchange</option>
                  <option value="399001.SZ">Shenzhen Stock Exchange</option>
                  <option value="NSEI">National Stock Exchange of India</option>
                  <option value="GDAXI">Frankfurt Stock Exchange</option>
                  <option value="KS11">Korea Exchange</option>
                  <option value="SSMI">SIX Swiss Exchange</option>
                  <option value="J203.JO">Johannesburg Stock Exchange</option>
                  <option value="N225">Tokyo Stock Exchange</option>
                  <option value="N100">Euronext</option>
                </select>        
            </div>
            <div class="col-md-6">
              <button  class="btn btn-primary" onClick="GetResults()">Update</button>
            </div>

          </div>
          
        <div class="row" >
          <div class="col-md-6">
            <div id="compare_open"></div>
          </div>
          <div class="col-md-6">
            <div id="candlestick"></div>  
          </div>
        </div> 
        <div class="row" >
          <div class="col-md-6">
            <div id="piechart"></div>
          </div>
          <div class="col-md-6">
            <div id="piechart2"></div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6">
            <div id="exchange"></div>
          </div>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/candlestick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pieChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exchange.js') }}"></script>
</body>

</html>